*{
  color:rgb(216, 239, 255) ;
  scroll-behavior: smooth;
}
body{

  background-image:  radial-gradient( rgb(2, 21, 189), rgb(0, 0, 0));
}

article{
  display:flex;
  flex-direction: column;

    
}
a{
  text-decoration: none;
  color:rgb(255, 216, 224);
}

.App-header {
  color:rgb(255, 216, 224);
  padding: 30px;
  border-radius: 50px;
  display: inline-flex;
  justify-content:space-around;
  text-align: center;
  background-image: linear-gradient(180deg,  rgb(5, 2, 189), rgb(0, 0, 0));
  height: 3em;
  width:30em;
  margin-left: 35em;
  margin-right: 35em;
}

footer{
  color:rgb(255, 216, 224);
  padding: 30px;
  border-radius: 50px;
  display: inline-flex;
  justify-content:space-around;
  text-align: center;
  background-image: linear-gradient(180deg,  rgb(2, 21, 189), rgb(0, 0, 0));
  height: 3em;
  width:30em;
  margin-left: 35em;
  margin-right: 35em;
}

.App-link {
  color: #61dafb;
}


.myPic{
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 19em;
  width: 15em;
  
  margin-top: 0em;
}
.icons{
  width:42px;
  height:42px;
}
#aboutMe{

  background-image: linear-gradient(360deg,  rgb(2, 5, 189), rgb(0, 0, 0));
  padding: 0px;
  text-align: center;
  height: 32em;
  width: 15em;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items:center;
  margin-left: 45em;
  margin-right: 30em;
}
#portfolio{
    
  background-image: linear-gradient(360deg,  rgb(2, 21, 189), rgb(0, 0, 0));
  padding: 0px;
  text-align: center;
  height: 105em;
  width: 60em;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items:center;
  margin-left: 20em;
  margin-right: 30em;
}

#contact{
    
  background-image: linear-gradient(360deg,  rgb(2, 5, 189), rgb(0, 0, 0));
  padding: 0px;
  text-align: center;
  height: 20em;
  width: 35em;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items:center;
  margin-left: 35em;
  margin-right: 30em;
}
#resume{
  background-image: linear-gradient(360deg,  rgb(2, 5, 189), rgb(0, 0, 0));
  padding: 0px;
  text-align: center;
  height: 20em;
  width: 35em;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items:center;
  margin-left: 35em;
  margin-right: 30em;
}
#backend{
  height: 20em;
  width: 40em;
}

#pwa{
  height: 20em;
  width: 40em;
}
#codingTest{
  height: 20em;
  width: 40em;
}
#employee{
  height: 20em;
  width: 40em;
}

#gmail{
  height:10em;
  width:15em;
  border-radius: 15px;
}
#KU{
  height:10em;
  width:15em;
  border-radius: 15px;
}
